touch_aidl_w616_sop2/proprietary/ais/CameraConfig/xml/camera_config.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  Copyright (c) 2020 Qualcomm Technologies, Inc.
  All Rights Reserved.
  Confidential and Proprietary - Qualcomm Technologies, Inc.
 -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:simpleType name="CameraDeviceCategory">
        <xs:annotation>
            <xs:documentation>Camera Device Category</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAMERA_DEVICE_CATEGORY_SENSOR" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CameraI2CType">
        <xs:annotation>
            <xs:documentation>Defines I2C Type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="none" />
            <xs:enumeration value="CCI" />
            <xs:enumeration value="I2C" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CameraGPIOType">
        <xs:annotation>
            <xs:documentation>Defines GPIO Type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAMERA_GPIO_INVALID" />
            <xs:enumeration value="CAMERA_GPIO_VANA" />
            <xs:enumeration value="CAMERA_GPIO_VDIG" />
            <xs:enumeration value="CAMERA_GPIO_VIO" />
            <xs:enumeration value="CAMERA_GPIO_VAF" />
            <xs:enumeration value="CAMERA_GPIO_VAF_PWDM" />
            <xs:enumeration value="CAMERA_GPIO_CUSTOM_REG1" />
            <xs:enumeration value="CAMERA_GPIO_CUSTOM_REG2" />
            <xs:enumeration value="CAMERA_GPIO_RESET" />
            <xs:enumeration value="CAMERA_GPIO_STANDBY" />
            <xs:enumeration value="CAMERA_GPIO_CUSTOM1" />
            <xs:enumeration value="CAMERA_GPIO_CUSTOM2" />
            <xs:enumeration value="CAMERA_GPIO_INTR" />
            <xs:enumeration value="CAMERA_GPIO_PASS_PIN" />
            <xs:enumeration value="CAMERA_GPIO_LOCK_PIN" />
            <xs:enumeration value="CAMERA_GPIO_FSYNC" />
            <xs:enumeration value="CAMERA_GPIO_MAX" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CameraGpioIntrType">
        <xs:annotation>
            <xs:documentation>Defines GPIO Interrupt Type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAMERA_GPIO_INTR_NONE" />
            <xs:enumeration value="CAMERA_GPIO_INTR_POLL" />
            <xs:enumeration value="CAMERA_GPIO_INTR_TLMM" />
            <xs:enumeration value="CAMERA_GPIO_INTR_PMIC" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CameraGpioIntrTriggerType">
        <xs:annotation>
            <xs:documentation>Defines GPIO Interrupt Trigger Type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAMERA_GPIO_TRIGGER_NONE" />
            <xs:enumeration value="CAMERA_GPIO_TRIGGER_RISING" />
            <xs:enumeration value="CAMERA_GPIO_TRIGGER_FALLING" />
            <xs:enumeration value="CAMERA_GPIO_TRIGGER_EDGE" />
            <xs:enumeration value="CAMERA_GPIO_TRIGGER_LEVEL_LOW" />
            <xs:enumeration value="CAMERA_GPIO_TRIGGER_LEVEL_HIGH" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CameraMatchType">
        <xs:annotation>
            <xs:documentation>Defines the manner in which events are matched</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MATCH_IFE_PATH" />
            <xs:enumeration value="MATCH_IFE_DEVICE" />
            <xs:enumeration value="MATCH_CSI_DEVICE" />
            <xs:enumeration value="MATCH_INPUT_SRC" />
            <xs:enumeration value="MATCH_INPUT_DEVICE" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="GpioType">
        <xs:annotation>
            <xs:documentation>GPIO pin config</xs:documentation>
            <xs:documentation>id : CameraGPIOType</xs:documentation>
            <xs:documentation>num : GPIO pin number</xs:documentation>
            <xs:documentation>config : GPIO_PIN_CFG macro</xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="CameraGPIOType" use="required"/>
        <xs:attribute name="num" type="xs:integer" use="required"/>
        <xs:attribute name="config" type="xs:integer" use="required"/>
    </xs:complexType>

    <xs:complexType name="IntrType">
        <xs:annotation>
            <xs:documentation>GPIO interrupt config</xs:documentation>
            <xs:documentation>id : CameraGPIOType</xs:documentation>
            <xs:documentation>pin_id : GPIO pin number</xs:documentation>
            <xs:documentation>intr_type : CameraGpioIntrType</xs:documentation>
            <xs:documentation>trigger : CameraGpioIntrTriggerType</xs:documentation>
            <xs:documentation>config : GPIO_PIN_CFG macro</xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="CameraGPIOType" use="required"/>
        <xs:attribute name="pin_id" type="xs:integer" use="required"/>
        <xs:attribute name="intr_type" type="CameraGpioIntrType" use="required"/>
        <xs:attribute name="trigger" type="CameraGpioIntrTriggerType" use="required"/>
        <xs:attribute name="gpio_cfg" type="xs:integer" use="required"/>
    </xs:complexType>

    <xs:complexType name="I2cPort">
        <xs:annotation>
            <xs:documentation>I2C Port properties (type and device/master info)</xs:documentation>
        </xs:annotation>
        <xs:attribute name="i2ctype" type="CameraI2CType" use="required"/>
        <xs:attribute name="device_id" type="xs:integer" use="required"/>
        <xs:attribute name="port_id" type="xs:integer" use="required"/>
        <xs:attribute name="i2cDevname" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="I2cPin">
        <xs:annotation>
            <xs:documentation>I2C pin information (gpio pin and function)</xs:documentation>
        </xs:annotation>
        <xs:attribute name="gpio" type="xs:integer" use="required"/>
        <xs:attribute name="function" type="xs:integer" use="required"/>
    </xs:complexType>

    <xs:complexType name="I2cDevice">
        <xs:annotation>
            <xs:documentation>Defines I2C Device Configuration</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="properties" type="I2cPort" minOccurs="1" maxOccurs="1"/>
            <xs:element name="sda_pin" type="I2cPin" minOccurs="1" maxOccurs="1"/>
            <xs:element name="scl_pin" type="I2cPin" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="I2cDevices">
        <xs:annotation>
            <xs:documentation>Defines I2C Devices List to setup</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="i2cDev" type="I2cDevice" minOccurs="0" maxOccurs="8"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="InputDevConfig">
        <xs:annotation>
            <xs:documentation>Input Device Config</xs:documentation>
            <xs:documentation>Properties for device such as subdevId, type, number of sensors,</xs:documentation>
            <xs:documentation>powersave mode and operation mode</xs:documentation>
        </xs:annotation>
        <xs:attribute name="subdevId" type="xs:integer" use="required"/>
        <xs:attribute name="type" type="xs:integer" default="0"/>
        <xs:attribute name="numSensors" use="required" type="xs:integer"/>
        <xs:attribute name="opMode" type="xs:integer" default="0"/>
        <xs:attribute name="powersaveMode" type="xs:integer" default="0"/>
    </xs:complexType>

    <xs:complexType name="InputDevGPIOConfig">
        <xs:annotation>
            <xs:documentation>idx : index into device gpio configuration array</xs:documentation>
            <xs:documentation>config : gpio configuraiton</xs:documentation>
        </xs:annotation>
        <xs:attribute name="idx" type="xs:integer" use="required"/>
        <xs:attribute name="config" type="xs:integer" default="-1"/>
    </xs:complexType>

    <xs:complexType name="InputDevSensor">
        <xs:annotation>
            <xs:documentation>Properties for sensors are which link, type of sensor connected,</xs:documentation>
            <xs:documentation>snsrModeId used to select default sensor mode</xs:documentation>
            <xs:documentation>fsyncMode used to select frame sync operation mode</xs:documentation>
            <xs:documentation>serializer alias, and sensor alias to be used</xs:documentation>
        </xs:annotation>
        <xs:attribute name="link" use="required" type="xs:integer"/>
        <xs:attribute name="type" type="xs:integer" default="0"/>
        <xs:attribute name="serAlias" type="xs:integer" default="0"/>
        <xs:attribute name="snsrAlias" type="xs:integer" default="0"/>
        <xs:attribute name="snsrModeId" type="xs:integer" default="0"/>
        <xs:attribute name="fsyncMode" type="xs:integer" default="0"/>
    </xs:complexType>

    <xs:complexType name="InputDevProperties">
        <xs:annotation>
            <xs:documentation>Input Device Properties</xs:documentation>
            <xs:documentation>subdevId will be passed to input driver as argument</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="config" type="InputDevConfig" minOccurs="1" maxOccurs="1"/>
            <xs:element name="dev_gpio" type="InputDevGPIOConfig" minOccurs="1" maxOccurs="1"/>
            <xs:element name="sensor" type="InputDevSensor" minOccurs="0" maxOccurs="4"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CsiInfo">
        <xs:annotation>
            <xs:documentation>Input Device CSI Properties</xs:documentation>
            <xs:documentation>csiId : CSI port id</xs:documentation>
            <xs:documentation>isSecure : CSI port is secure content protection</xs:documentation>
            <xs:documentation>numLanes : Number of lanes connected</xs:documentation>
            <xs:documentation>laneAssign : Lane mapping configuration</xs:documentation>
            <xs:documentation>ifeMap : Mappings to IFE interfaces. Starting from lowest nibble, set preferred IFE to map to in priority</xs:documentation>
            <xs:documentation>numIfeMap : Number of IFE mappings (number of bytes valid from lowest byte). If 0, mapping will use csiId</xs:documentation>
        </xs:annotation>
        <xs:attribute name="csiId" type="xs:integer" use="required"/>
        <xs:attribute name="isSecure" type="xs:integer" default="0"/>
        <xs:attribute name="numLanes" type="xs:integer" use="required"/>
        <xs:attribute name="laneAssign" type="xs:integer" use="required"/>
        <xs:attribute name="ifeMap" type="xs:integer" default="0"/>
        <xs:attribute name="numIfeMap" type="xs:integer" default="0"/>
        <xs:attribute name="forceHSmode" type="xs:integer" default="0"/>
    </xs:complexType>

    <xs:complexType name="DriverInfo">
        <xs:annotation>
            <xs:documentation>Defines library and open function symbol for device</xs:documentation>
        </xs:annotation>
        <xs:attribute name="devCategory" type="CameraDeviceCategory" use="required"/>
        <xs:attribute name="libName" type="xs:integer" use="required"/>
        <xs:attribute name="openFcn" type="xs:integer" use="required"/>
    </xs:complexType>

    <xs:complexType name="InputDevice">
        <xs:annotation>
            <xs:documentation>Defines Input Device</xs:documentation>
            <xs:documentation>devId : unique device ID index</xs:documentation>
            <xs:documentation>detectThrdId : detect thread index range [0,3]</xs:documentation>
            <xs:documentation>properties : device specific configurations</xs:documentation>
            <xs:documentation>driverInfo : library loading info</xs:documentation>
            <xs:documentation>i2cPort : which i2c port connected</xs:documentation>
            <xs:documentation>csiInfo : csi connection info</xs:documentation>
            <xs:documentation>gpio : list of gpio pins to configure</xs:documentation>
            <xs:documentation>intr : list of interrupt pins to configure</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="properties" type="InputDevProperties" minOccurs="1" maxOccurs="1"/>
            <xs:element name="driverInfo" type="DriverInfo" minOccurs="1" maxOccurs="1"/>
            <xs:element name="i2cPort" type="I2cPort" minOccurs="1" maxOccurs="1"/>
            <xs:element name="csiInfo" type="CsiInfo" minOccurs="1" maxOccurs="1"/>
            <xs:element name="gpio" type="GpioType" minOccurs="0" maxOccurs="10"/>
            <xs:element name="intr" type="IntrType" minOccurs="0" maxOccurs="3"/>
        </xs:sequence>
        <xs:attribute name="devId" type="xs:integer" use="required"/>
        <xs:attribute name="detectThrdId" type="xs:integer"/>
    </xs:complexType>

    <xs:complexType name="InputDevices">
        <xs:annotation>
            <xs:documentation>Defines List of Input Device</xs:documentation>
            <xs:documentation>inputDev : list of input devices</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="inputDev" type="InputDevice" minOccurs="0" maxOccurs="8"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="engineSetting">
        <xs:annotation>
            <xs:documentation>numBufMax: maximum number of buffers per list (default: 12)</xs:documentation>
            <xs:documentation>powerManagementPolicy: power suspend/resume management policy type </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:attribute name="numBufMax" type="xs:integer" default="12"/>
            <xs:attribute name="powerManagementPolicy" type="xs:integer" default="2"/>
            <xs:attribute name="recoveryRestartDelay" type="xs:integer" default="33"/>
            <xs:attribute name="recoveryTimeoutAfterUsrCtxtRestart" type="xs:integer" default="500"/>
            <xs:attribute name="recoveryRetryDelay" type="xs:integer" default="300"/>
            <xs:attribute name="recoveryMaxNumAttempts" type="xs:integer" default="1"/>
            <xs:attribute name="multiIfeInitFrameDrop" type="xs:integer" default="1"/>
            <xs:complexType name="inputFatalError">
                <xs:annotation>
                    <xs:documentation>type: what kind of matching should be performed</xs:documentation>
                    <xs:documentation>severity: custom severity level of the error</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="type" type="CameraMatchType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="severity" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="csidFatalError">
                <xs:annotation>
                    <xs:documentation>type: what kind of matching should be performed</xs:documentation>
                    <xs:documentation>severity: custom severity level of the error</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="type" type="CameraMatchType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="severity" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ifeOutputError">
                <xs:annotation>
                    <xs:documentation>type: what kind of matching should be performed</xs:documentation>
                    <xs:documentation>severity: custom severity level of the error</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="type" type="CameraMatchType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="severity" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:complexType>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BoardConfig">
        <xs:annotation>
            <xs:documentation>Defines Board Configutation Parameters</xs:documentation>
            <xs:documentation>i2cDevs: I2C devices configuration</xs:documentation>
            <xs:documentation>inputDevs: Input devices configuration</xs:documentation>
            <xs:documentation>Attributes:</xs:documentation>
            <xs:documentation>name: configuration name</xs:documentation>
            <xs:documentation>boardType: board type</xs:documentation>
            <xs:documentation>engineSetting: engine setting</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="i2cDevs" type="I2cDevices" minOccurs="1" maxOccurs="1"/>
            <xs:element name="inputDevs" type="InputDevices" minOccurs="1" maxOccurs="1"/>
            <xs:element name="engineSetting" type="engineSettings" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="boardType" type="xs:integer" use="required"/>
    </xs:complexType>

    <xs:complexType name="InputSrc">
        <xs:annotation>
            <xs:documentation>Input mapping source channel</xs:documentation>
        </xs:annotation>
        <xs:attribute name="devId" type="xs:integer" use="required"/>
        <xs:attribute name="srcId" type="xs:integer" use="required"/>
    </xs:complexType>

    <xs:complexType name="ISPInstance">
        <xs:annotation>
            <xs:documentation>ISP instance configuraiton</xs:documentation>
        </xs:annotation>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:attribute name="cameraId" type="xs:integer" use="required"/>
        <xs:attribute name="useCase" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="InputMap">
        <xs:annotation>
            <xs:documentation>Input mapping of qcarcamId to input sources</xs:documentation>
        </xs:annotation>
        <xs:attribute name="qcarcamId" type="xs:integer" use="required"/>
        <xs:attribute name="opMode" type="xs:integer" use="required"/>
        <xs:sequence>
            <xs:element name="inputSrc" type="InputSrc" minOccurs="1" maxOccurs="2"/>
            <xs:element name="ISPInstance" type="ISPInstance" minOccurs="0" maxOccurs="4"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="InputChannelMapping">
        <xs:annotation>
            <xs:documentation>Defines mapping of logical to physical cameras</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="inputMap" type="InputType" minOccurs="1" maxOccurs="32"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="CameraConfig">
        <xs:annotation>
            <xs:documentation>Defines streams as input_device elements</xs:documentation>
            <xs:documentation>Current version is 0x400</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="board" type="BoardConfig" minOccurs="1" maxOccurs="1"/>
                <xs:element name="inputMapping" type="InputChannelMapping" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
            <xs:attribute name="version" type="xs:int" use="required"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
