touch_aidl_w616_sop2/proprietary/chi-cdk/cdk/chromatix/XSD/isp/preproc_spectra380_000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--========================================================================-->
<!-- Copyright (c) 2018 Qualcomm Technologies, Inc.                         -->
<!-- All Rights Reserved.                                                   -->
<!-- Confidential and Proprietary - Qualcomm Technologies, Inc.             -->
<!--========================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="..\automotive\preproc_automotive_380_000.xsd"/>
	<xs:element name="chromatixPreproc" type="chromatixPreprocType"/>
	<xs:complexType name="chromatixPreprocType">
		<xs:sequence>
			<xs:element name="chromatixAutomotivePreprocData" type="chromatixAutomotivePreprocType"/>
    </xs:sequence>
	</xs:complexType>
</xs:schema>